{% extends 'logged_out.twig.html' %}

{% block title %}Student Profiles{% endblock %}

{% block body %}
<div class="page-header">
    <h1>Student Profiles</h1>
</div>
<ul>
    <li><a href="{{ base_url }}/profile/Elton+Maiyo">Elton Maiyo</a></li>
    <li><a href="{{ base_url }}/profile/Chomba+Nganga">Chomba Ng'ang'a</a></li>
    <li><a href="{{ base_url }}/profile/Kennedy+Mwenja">Kennedy Mwenja</a></li>
</ul>
{% endblock %}