{% extends 'logged_out.twig.html' %}

{% block title %}Welcome{% endblock %}

{% block body %}
<div class="hero-unit">
    <h1>SCI Internship Site</h1>
    <p>This way the code has a more transparent meaning, and it's also more flexible since
we can change the definition of about_path and have the URL change everywhere
about_path is used.
The full list of our planned links appears in Table 5.1, along with their mapping to
URLs and routes. We'll implement all but the last one by the end of this chapter. (We'll
make the last one in Chapter 9.)
</p>
</div>
{% endblock %}